/*Resetting browser presets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*setting the font-family for the page and making the text responsive*/
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 2vw;
}

/*Using flexbox and postioning to place the picture and texts in the header*/
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60vw;
        
}

.header-h1 {
    align-self: center;
    margin-top: 3%;
}

.headerpic {
    width: 100%;
    position: absolute;
}

.header-text {
    align-self: center;
    z-index: 2;

}

h1.header-text {
    margin-top: 49%;
    margin-left: 25%;
}

p.header-text {
    margin-top: 3%;
    text-align: right;
}

/*Using flexbox for the first section. Order to make the picture get on the side it's supposed to be*/
.section-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10%;
}


.picture-1 {
    order: 2;
    
}

.text-1 {
    margin-left: 10%;
}

.h3-1 {
    margin-left: 20%;
    margin-bottom: 5%;
}

/*inserting the video and making it take up the width of the screen*/
.video {
    width: 100%;
}

/*Using flexbox for the first section. Order to make the picture get on the side it's supposed to be*/
.section-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.picture-2 {
    order: 1;
}

.text-2 {
    order: 2;
    margin-right: 10%;
}

.section-3 {
    margin-left: 10%;
    margin-right: 10%;
}

/*Using media queries to make the section pics responsive*/
@media (min-width: 176px) {
    figure>img {
    width: 150px
    }
}

@media (min-width: 376px) {
    figure>img {
    width: 200px
    }
}

@media (min-width: 576px) {
    figure>img {
    width: 300px
    }
}

@media (min-width: 768px) {
    figure>img {
        width: 400px
    }
}

@media (min-width: 992px) {
    figure>img {
        width: 500px
    }
}

@media (min-width: 1200px) {
    figure>img {
        width: 600px
    }
}

/*Using flexbox and positioning to place the text and picture in the aside part*/
aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}

.aside-text {
    position: absolute;
}

p.aside-text{
    bottom: 20%;
    margin-left: 10%;
    margin-right: 10%;
    
}

h1.aside-text {
    margin-bottom: 5%;
}

.asidepic {
    width: 100%;
    z-index: -1;
    
}

/*Using flexbox and margins to place the text where it's supposed to bo while coloring the background and the text*/
footer {
    background-color:rgb(43,46,52);
    color: white;
    display: flex;
    flex-direction: row;
    }

footer>p,div {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

div>h3 {
    margin-top: 10%;
}

div>p {
    margin-bottom: 10%;
}

footer>p {
    margin-top: 9%;
}

